.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  max-width: 436px;
  padding: 0;
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body);
  font-family: var(--font-family, sans-serif);
  line-height: var(--line-height-body);
}

.container_with_button {
  width: 460px;
}

.container_half {
  width: 130px;
}

.container_large_half {
  width: 218px;
}

.text {
  inline-size: 80%;
  color: var(--text-color);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body);
  font-family: var(--font-family, sans-serif);
  line-height: var(--line-height-body);
}

.text_error {
  margin: 0;
  color: var(--error-color);
  font-weight: var(--font-weight-caption);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
}

.title {
  text-align: left;
  background-color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 20px;
  border: 1px solid var(--caption-color);
  border-radius: 12px;
}

.wrapper_with_button {
  justify-content: space-between;
}

.wrapper_error {
  border-color: var(--error-color);
}

.input {
  text-align: left;
  background-color: inherit;
  border: none;
}

.input::placeholder {
  color: var(--caption-color);
}

.input:focus,
.input:focus-visible {
  outline: none;
}

.button {
  display: none;
  justify-content: center;
  align-items: center;
  place-self: center;
  width: 24px;
  height: 24px;
  background-color: var(--surface-color);
  background-image: url("../assets/edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.button_visible {
  display: flex;
}

@media (400px <= width <= 500px) {
  .text {
    font-size: 12px;
  }

  .input {
    block-size: 20px;
  }
}

@media (width <= 399px) {
  .text {
    font-size: 10px;
  }

  .input {
    block-size: 20px;
  }
}
