.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  place-self: center;
  background-color: var(--surface-color);
  background-image: url("../assets/eye-slash.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.button_visible {
  background-image: url("../assets/eye.svg");
}

@media (width <= 500px) {
  .button {
    width: 20px;
    height: 20px;
  }

  .button_container {
    width: 20px;
    height: 20px;
  }
}
